/*Archivo Index*/

.archivo-index {
    position: relative;
    .img {
        display: block;
        width: 100%;
        background-image:url(https://www.afa.com.ar/upload/torneo/Marzo%202020/vs%20jp2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 30% 50%;
    }
    a {
        color: $claro;
        &:active{
            color: $primary;
            text-decoration: none;
        }
    }
    .blockquote{
        .quote {
            color: $blanco;
            background-color: $claro;
            font-weight: 600;
            font-style: none;
        }
    }
}
