/*Body*/

body, html {
    height: 100%;
    margin: 0;
    font-size: 1rem;
}

.body-section {
    padding: 6em 0;
    position: relative;
}

#tabla--fondo {
    background: url(https://cdn5.dibujos.net/dibujos/pintar/balon-de-futbol_2.png) repeat center center fixed;
    background-size: scale-down;
}

#img--archivo {
    max-width: 100%;
}