/*Hero*/

.hero-image {
    background-attachment: fixed;
    height: 90%;
    width: 100%;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    p{
        color: rgb(160, 159, 159);
        font-size: 25px;
        font-variant: unset;
    }
}

#hero--index {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg_1.jpg");
}

#hero--fotos {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg_2.jpg");
}

#hero--historia {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://scontent.faep24-1.fna.fbcdn.net/v/t1.6435-9/62354336_10219034929681316_8653737228830244864_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=b9115d&_nc_ohc=aEmBPqwwqikAX87rxxz&_nc_ht=scontent.faep24-1.fna&oh=52101e75a7de4fb612c04bff26a95549&oe=60A0D57D");
}

#hero--archivo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.afa.com.ar/upload/torneo/Marzo%202020/camino2-3.jpg");  
}

#hero--contacto {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://scontent.faep24-1.fna.fbcdn.net/v/t1.6435-9/67489415_2047315308910124_7686853765952962560_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=P2ZzQMQBtGIAX8YKhWf&_nc_ht=scontent.faep24-1.fna&oh=d12c4ea5ef288c0678cb9898d0448234&oe=60A11DA4");
}