/*Último partido*/
.partido-1 {
    position: relative;
    background: $grisOscuro;
    box-shadow: 0px 75px 95px -65px rgba(0,0,0,0.66);
    border-radius: 5px;
    margin-top: -60px;
    .texto {
        width: 100%;
        display: block;
        h3 {
            font-size: 18px;
            color: $blanco;
            span {
                display: block;
            }
        }
        span {
            color: $gris;
        }
        .boton {
            display: block;
        }
    }
}

.logo-equipo {
    width: 90px;
    position: relative;
    .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-image: url(../img/team-1.jpg);
        background-size: contain;
        z-index: 2;
        &.img-2{
            left:35px;
            z-index: 3;
            background-image: url(../img/team-2.jpg);
        }
    }
    .nombre-equipo {
        width: calc(100% - 90px);
    }
}

#boton-resumen {
    width: 90%;
}

/*Partido anterior*/

.h3--claro {
    color: $gris;
    font-size: 17px;
}

.h3--oscuro {
    color: $grisOscuro;
}

.tanteador {
    width: 100%;
    border: 1px solid $gris;
    background: $blanco;
    border-radius: 4px;
    padding: 2em 1em;
    .divisor {
        position: relative;
        span {
            padding: 0 10px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 14px;
        }
    }
    .equipo {
        display: block;
        width: 50%;
        .img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-image: url(../img/team-1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 0; 
            box-shadow: 0 25px 35px -15px rgba(0,0,0,0.09);
        }
        .desc {
            width: calc(100% - 100px);
        }
        .resultado {
            font-weight: 800;
            font-size: 50px;
            color: $negro;
            &.ganador {
                span {
                    border-bottom: 5px solid $primary;
                }
            }
            &.perdedor {
                span {
                    color: rgba(0,0,0,.2);
                }
            }
        }
        h4 {
            color: $grisOscuro;
        }
    }
}

.img--video {
    background-image: url("https://scontent.faep24-1.fna.fbcdn.net/v/t1.6435-9/171192740_2500815030226814_1501416277259884980_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=0debeb&_nc_ohc=RQNegIAgXqwAX8NXPMJ&_nc_ht=scontent.faep24-1.fna&oh=4ae7cfb385cf9400d6368d521cbadb64&oe=609DBD8E");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 65%;
    width: 100%;
}

.icono-video {
    width: 60px;
    height: 60px;
    background: $blanco;
    border-radius: 50%;
}