/*Planteles*/

.planteles--formato {
    overflow: hidden;
    div {
        display: inline-block;
    }
    a {
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        display: block;
        width: 100%;
        height: 250px;

    }
}