/*Tarjetas*/

.tarjeta {
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    transition: 0.3s;
    &:hover{
        box-shadow: 0 8px 16px rgba(45, 138, 155, 0.5);
    }
    img {
        max-width: 100%;
        height: 20rem;
        width: 15rem;
        object-fit: cover;
    }
    .container {
        h4 {
            color: $primary;
            font-size: 25px;
        }
    }
}

#carousel--goleadoras {
    height: 30rem;
    img {
        height: 30rem;
        object-fit: cover;
    }
    h5 {
        font-size: 25px;
        background-color:rgba(87, 86, 86, 0.5);
    }
    p {
        font-size: 20px;
        color: $blanco;
        background-color:rgba(87, 86, 86, 0.5);
    }
}