<!DOCTYPE html>
<html lang="en">
<head>
    <!--Etiquetas meta-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Archivo histórico de partidos de la Selección Femenino Argentina de Fútbol">
    <meta name="keywords" content="FUTBOL, DEPORTE, FEMENINO, MUJER, ARGENTINA, SELECCION">
    <title>Archivo histórico de la Selección Argentina</title>
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5f1119f675.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/css.css">
</head>

<body>
    <!--Empieza nav-->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #31B5F7">
        <!--Logo-->
        <a class="navbar-brand" href="../index.html">
            <img src="https://cdn3.ct-assets.com/assets/landings/womens-world-cup-2019/logo-f11500c9bd7395ac801e2255091433ae4942be72222ba9fba525c8dfbec2f3ba.png" width="50" height="auto" alt="logo femenino">
        </a>
        <!--Toggler-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--Botones-->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="../index.html" class="nav-link">Inicio</a></li>
                <li class="nav-item"><a href="./fotos.html" class="nav-link">Fotos</a></li>
                <li class="nav-item active"><a href="./archivo.html" class="nav-link">Archivo</a></li>
                <li class="nav-item"><a href="./historia.html" class="nav-link">Historia</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Torneo Apertura
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="./plantelesApertura.html">Planteles</a>
                        <a class="dropdown-item" href="./goleadorasApertura.html">Goleadoras</a>
                        <a class="dropdown-item" href="./resultadosApertura.html">Resultados</a>
                    </div>
                </li>
                <li class="nav-item"><a href="../views/contacto.html" class="nav-link">¿Quiénes somos?</a></li>
            </ul>
        </div>
    </nav>
    <!--------------->

    <!--Empieza Hero element-->
    <div class="hero-image" id="hero--archivo">
        <div class="hero-text">
            <h1>Archivo histórico</h1>
            <p>Datos de Selección</p>
        </div>
    </div>
    <!------------------------>

    <!--Empieza párrafo-->
    <div class="container mt-4 mb-4">
        <div class="row d-flex align-content-center">
            <div class="col-md-12 col-lg-8 align-self-stretch text-justify" id="texto--archivo">
                <p>El primer partido oficial de la Selección Argentina Femenina, bajo la égida de la Asociación del Fútbol Argentino, data del <strong>3 de diciembre de 1993</strong>. Una historia muy acotada en comparación con la de su par masculino.
                Lo cierto es que, a pesar de que los registros oficiales no llegan hasta ahí, antes de esa primera Selección que venció a Chile como visitante, existieron muchas otras mujeres que representaron a la Albiceleste dentro de la cancha.
                La historia, que afortunadamente hoy en día es más conocida que antes, apunta a las <strong>Pioneras del Fútbol Femenino</strong>, un grupo de futbolistas de los años '50, '60, '70, '80 y '90 que comenzaron a juntarse por iniciativa de Lucila Sandoval.
                Dentro de ese grupo se encuentran las jugadora que disputaron el Mundial (no oficial) de 1971, protagonistas de una de las hazañas más grandes de la disciplina: el triunfo por 4-1 ante Inglaterra en un Estadio Azteca repleto. Sí, 15 años
                antes del <i>'Barrilete Cósmico'</i>, <strong>Elba Selva</strong> convirtió cuatro goles para darle un triunfo memorable a la Selección Argentina.
                Desde ese momento hasta 1993 pasaron muchos años, con muy pocos registros e incluso es difícil encontrar datos certeros de los partidos oficiales de los años '90. El objetivo de esta sección es
                poner a disposición del público en general los datos recopilados e investigados durante los últimos tres años para ayudar a recuperar pedacitos de historia.</p>
            </div>
            <div class="col-md-12 col-lg-4">
                <img src="https://images.pagina12.com.ar/styles/focal_3_2_960x640/public/2018-05/betty-garcia08-b.jpg?itok=a1cer6UO" id="img--archivo" alt="Las Pioneras del Fútbol Femenino">
                <figcaption>La Selección en el Mundial 71 - Fuente: Página/12</figcaption>
            </div>
        </div>
    </div>
    <!------------------->

    <!--Empieza tabla de archivo-->
    <section class="d-flex justify-content-center" id="tabla--fondo">
        <table class="table table-hover table-info table-striped text-center w-auto" id="tabla--responsive">
            <thead class="bg-info">
                <tr>
                    <th>Fecha</th>
                    <th>Partido</th>
                    <th>Competencia</th>
                    <th>Lugar</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>3/12/1993</td>
                    <td>Chile 2 - Argentina 3</td>
                    <td>Amistoso</td>
                    <td>Santa Laura - Santiago de Chile</td>
                </tr>
                <tr>
                    <td>10/1/1995</td>
                    <td>Argentina 5 - Ecuador 1</td>
                    <td>Sudamericano</td>
                    <td>Joao Havelange - Brasil</td>
                </tr>
                <tr>
                    <td>12/1/1995</td>
                    <td>Argentina 12 - Bolivia 0</td>
                    <td>Sudamericano</td>
                    <td>Joao Havelange - Brasil</td>
                </tr>
                <tr>
                    <td>14/1/1995</td>
                    <td>Argentina 0 - Brasil 8</td>
                    <td>Sudamericano</td>
                    <td>Joao Havelange - Brasil</td>
                </tr>
                <tr>
                    <td>18/1/1995</td>
                    <td>Argentina 1 - Chile 0</td>
                    <td>Sudamericano</td>
                    <td>Joao Havelange - Brasil</td>
                </tr>
                <tr>
                    <td>22/1/1995</td>
                    <td>Argentina 0 - Brasil 2</td>
                    <td>Sudamericano</td>
                    <td>Joao Havelange - Brasil</td>
                </tr>
                <tr>
                    <td>9/4/1995</td>
                    <td>Argentina 0 - Australia 7</td>
                    <td>Torneo Ciudad de Uberlandia</td>
                    <td>Joao Havelange - Brasil</td>
                </tr>
                <tr>
                    <td>11/4/1995</td>
                    <td>Argentina 1 - Brasil 4</td>
                    <td>Torneo Ciudad de Uberlandia</td>
                    <td>Joao Havelange - Brasil</td>
                </tr>
                <tr>
                    <td>9/4/1995</td>
                    <td>Argentina 0 - Australia 7</td>
                    <td>Torneo Ciudad de Uberlandia</td>
                    <td>Joao Havelange - Brasil</td>
                </tr>
                <tr>
                    <td>3/2/1997</td>
                    <td>Argentina 3 - Uruguay 1</td>
                    <td>Amistoso</td>
                    <td>Mar del Plata - Argentina</td>
                </tr>
                <tr>
                    <td>24/1/1998</td>
                    <td>Argentina 4 - Uruguay 0</td>
                    <td>Amistoso</td>
                    <td>Mar del Plata - Argentina</td>
                </tr>
                <tr>
                    <td>5/2/1998</td>
                    <td>Argentina 4 - Perú 1</td>
                    <td>Amistoso</td>
                    <td>Mar del Plata - Argentina</td>
                </tr>
                <tr>
                    <td>1/3/1998</td>
                    <td>Argentina 9 - Bolivia 0</td>
                    <td>Sudamericano</td>
                    <td>Mar del Plata - Argentina</td>
                </tr>
                <tr>
                    <td>3/3/1998</td>
                    <td>Argentina 3 - Paraguay 0</td>
                    <td>Sudamericano</td>
                    <td>Mar del Plata - Argentina</td>
                </tr>
                <tr>
                    <td>5/3/1998</td>
                    <td>Argentina 2 - Uruguay 1</td>
                    <td>Sudamericano</td>
                    <td>Mar del Plata - Argentina</td>
                </tr>
                <tr>
                    <td>9/3/1998</td>
                    <td>Argentina 2 - Ecuador 0</td>
                    <td>Sudamericano</td>
                    <td>Mar del Plata - Argentina</td>
                </tr>
                <tr>
                    <td>13/3/1998</td>
                    <td>Argentina 1 (4) - Perú 1 (3)</td>
                    <td>Sudamericano</td>
                    <td>Mar del Plata - Argentina</td>
                </tr>
                <tr>
                    <td>15/3/1998</td>
                    <td>Argentina 1 - Brasil 7</td>
                    <td>Sudamericano</td>
                    <td>Mar del Plata - Argentina</td>
                </tr>
                <tr>
                    <td>24/4/1998</td>
                    <td>Argentina 1 - EE.UU. 8</td>
                    <td>Amistoso</td>
                    <td>Fullerton - EE.UU.</td>
                </tr>
                <tr>
                    <td>26/4/1998</td>
                    <td>Argentina 0 - EE.UU. 7</td>
                    <td>Amistoso</td>
                    <td>San José - EE.UU.</td>
                </tr>
                <tr>
                    <td>13/9/1998</td>
                    <td>Argentina 3 - Uruguay 1</td>
                    <td>Amistoso</td>
                    <td>Lanús - Argentina</td>
                </tr>
                <tr>
                    <td>29/9/1998</td>
                    <td>Argentina 3 - Costa Rica 2</td>
                    <td>Amistoso</td>
                    <td>Independiente - Argentina</td>
                </tr>
                <tr>
                    <td>31/10/1998</td>
                    <td>Argentina 4 - Perú 1</td>
                    <td>Amistoso</td>
                    <td>Platense - Argentina</td>
                </tr>
                <tr>
                    <td>21/11/1998</td>
                    <td>Argentina 4 - Uruguay 0</td>
                    <td>Amistoso</td>
                    <td>Deportivo Morón - Argentina</td>
                </tr>
                <tr>
                    <td>21/11/1998</td>
                    <td>Argentina 1 - México 3</td>
                    <td>Repechaje para el Mundial '99</td>
                    <td>Nemesio Diez - México</td>
                </tr>
                <tr>
                    <td>19/12/1998</td>
                    <td>Argentina 2 - México 3</td>
                    <td>Repechaje para el Mundial '99</td>
                    <td>Vélez - Argentina</td>
                </tr>
                <tr>
                    <td>25/3/2000</td>
                    <td>Argentina 2 - Nueva Zelanda 1</td>
                    <td>Amistoso</td>
                    <td>Dep. Español - Argentina</td>
                </tr>
                <tr>
                    <td>27/3/2000</td>
                    <td>Argentina 1 - Nueva Zelanda 1</td>
                    <td>Amistoso</td>
                    <td>Dep. Español - Argentina</td>
                </tr>
                <tr>
                    <td>23/5/2000</td>
                    <td>Argentina 9 - Nicaragua 0</td>
                    <td>Copa Gallo 2000</td>
                    <td>Mateo Flores - Guatemala</td>
                </tr>
                <tr>
                    <td>25/5/2000</td>
                    <td>Argentina 6 - El Salvador 0</td>
                    <td>Copa Gallo 2000</td>
                    <td>Mateo Flores - Guatemala</td>
                </tr>
                <tr>
                    <td>25/5/2000</td>
                    <td>Argentina 5 - Guatemala 0</td>
                    <td>Copa Gallo 2000</td>
                    <td>Mateo Flores - Guatemala</td>
                </tr>
                <tr>
                    <td>5/12/2000</td>
                    <td>Argentina 4 - Uruguay 0</td>
                    <td>Copa Argentina 2000</td>
                    <td>Banfield - Argentina</td>
                </tr>
                <tr>
                    <td>7/12/2000</td>
                    <td>Argentina 5 - Paraguay 1</td>
                    <td>Copa Argentina 2000</td>
                    <td>Banfield - Argentina</td>
                </tr>
                <tr>
                    <td>9/12/2000</td>
                    <td>Argentina 1 - Perú 0</td>
                    <td>Copa Argentina 2000</td>
                    <td>Huracán - Argentina</td>
                </tr>
                <tr>
                    <td>7/12/2001</td>
                    <td>Argentina 7 - Ecuador 0</td>
                    <td>Torneo Tres Naciones</td>
                    <td>Complejo Dep. Lima - Perú</td>
                </tr>
                <tr>
                    <td>9/12/2001</td>
                    <td>Argentina 0 - Perú 3</td>
                    <td>Torneo Tres Naciones</td>
                    <td>Complejo Dep. Lima - Perú</td>
                </tr>
                <tr>
                    <td>9/4/2003</td>
                    <td>Argentina 3 - Paraguay 0</td>
                    <td>Sudamericano 2003</td>
                    <td>Padre Martearena - Argentina</td>
                </tr>
                <tr>
                    <td>13/4/2003</td>
                    <td>Argentina 8 - Uruguay 0</td>
                    <td>Sudamericano 2003</td>
                    <td>Padre Martearena - Argentina</td>
                </tr>
                <tr>
                    <td>23/4/2003</td>
                    <td>Argentina 2 - Brasil 3</td>
                    <td>Sudamericano 2003</td>
                    <td>Monumental - Perú</td>
                </tr>
                <tr>
                    <td>25/4/2003</td>
                    <td>Argentina 3 - Colombia 2</td>
                    <td>Sudamericano 2003</td>
                    <td>Monumental - Perú</td>
                </tr>
                <tr>
                    <td>27/4/2003</td>
                    <td>Argentina 1 - Perú 1</td>
                    <td>Sudamericano 2003</td>
                    <td>Monumental - Perú</td>
                </tr>
            </thead>
        </table>
    </section>
    <!---------------------------->

    <!--Empieza Footer-->
    <footer>
        <div class="container">
            <div class="row mb-1">
                <div class="col-md-12 text-center">
                    <div class="footer-widget mb-4">
                        <h2 class="mb-3">¡Seguinos!</h2>
                        <ul class="footer-social-media">
                            <li><a href="https://twitter.com/StefiLeon"><span><i class="fab fa-twitter"></i></span></i></span></a></li>
                            <li><a href="https://facebook.com/lasfotosdelasjugadoras"><span><i class="fab fa-facebook-f"></i></span></a></li>
                            <li><a href="https://instagram.com/lasfotosdelasjugadoras"><span><i class="fab fa-instagram"></i></span></a></li>
                        </ul>
                        <p>¡Nos vemos en Australia/Nueva Zelanda 2023!</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Termina Footer-->
    
    <!--Scripts BS-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!-------------->
    
    </body>
    </html>