<!DOCTYPE html>
<html lang="en">
<head>
    <!--Etiquetas meta-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Contacto para brindar información del Fútbol Femenino Argentino, de su Historia y del Torneo Apertura">
    <meta name="keywords" content="FUTBOL, DEPORTE, FEMENINO, MUJER, ARGENTINA, AFA">
    <title>Contacto del Sitio del Fútbol Femenino Argentino</title>
    <link rel="icon" href="https://cdn3.ct-assets.com/assets/landings/womens-world-cup-2019/logo-f11500c9bd7395ac801e2255091433ae4942be72222ba9fba525c8dfbec2f3ba.png">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5f1119f675.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/css.css">
</head>

<body>
    <!--Empieza nav-->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #31B5F7">
        <!--Logo-->
        <a class="navbar-brand" href="../index.html">
            <img src="https://cdn3.ct-assets.com/assets/landings/womens-world-cup-2019/logo-f11500c9bd7395ac801e2255091433ae4942be72222ba9fba525c8dfbec2f3ba.png" width="50" height="auto" alt="logo femenino">
        </a>
        <!--Toggler-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--Botones-->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="./productos.html" id="carritoDeCompras" class="numero-flotante position-relative d-inline-flex nav-link">Ver productos <i class="fas fa fa-shopping-cart fa-lg"></i>
                </a>
                <div class="container" id="lista-carrito" style="display: none"> 
                    <p id="totalCompra"></p>
                </div>
                <li class="nav-item"><a href="../index.html" class="nav-link">Inicio</a></li>
                <li class="nav-item"><a href="./fotos.html" class="nav-link">Fotos</a></li>
                <li class="nav-item"><a href="./archivo.html" class="nav-link">Archivo</a></li>
                <li class="nav-item"><a href="./historia.html" class="nav-link">Historia</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Torneo Apertura
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="./plantelesApertura.html">Planteles</a>
                        <a class="dropdown-item" href="./goleadorasApertura.html">Goleadoras</a>
                        <a class="dropdown-item" href="./resultadosApertura.html">Resultados</a>
                    </div>
                </li>
                <li class="nav-item active"><a href="../views/contacto.html" class="nav-link">¿Quiénes somos?</a></li>
            </ul>
        </div>
    </nav>
    <!--------------->

    <!--Empieza Hero element-->
    <div class="hero-image" id="hero--contacto">
        <div class="hero-text">
            <h1 class="animacionDelay" style="display: none";>Contacto</h1>
            <p>La cara detrás del proyecto</p>
        </div>
    </div>
    <!------------------------>

    <!--Empieza sección resumen-->
    <div class="container mt-4 mb-4">
        <div class="row d-flex">
            <div class="col-md-12 col-lg-12 align-self-stretch">
                <p class="text-justify titulo--oscuro">
                    El <strong>fútbol femenino en la Argentina</strong> ha tenido un gran impulso en los últimos años. Esto se explica por múltiples factores, incluidos los movimientos de mujeres que le han otorgado mayor visibilidad a
            la disciplina, sumado a la semiprofesionalización incipiente en la Primera División de nuestro país. Además, la clasificación de la Selección Argentina al Mundial de Francia 2019 y la subsiguiente actuación en dicha
            competencia han marcado hitos en este deporte, fomentando una mayor presencia del fútbol femenino en los medios. En este contexto, desde agosto de 2018, la Albiceleste es acompañada en sus giras y entrenamientos por el
            equipo de prensa de la Asociación del Fútbol Argentino. Mi nombre es Stefanía León y el objetivo de este sitio es poner a disposición de todos y todas el material generado en estos años de trabajo, sumando material histórico
            recolectado por distintas colegas en el intento de reconstruir la historia de esta disciplina.
                </p>
            </div>
        </div>
    </div>
    <!--------------------------->

    <!--Empieza seccion de comentarios-->
    <section class="comentarios-index">
        <div class="overlay">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10 text-center titulo--oscuro">
                        <h2 class="mt-4">¿Querés sumar información?</h2>
                        <div class="row d-flex justify-content-center mt-4 mb-4">
                            <div class="col-md-10">
                                <form action="#" class="subscribe-form">
                                    <input type="email" class="form-control" placeholder="Ingresar mail" name="email">
                                    <label for="email"></label>
                                    <input type="text" class="form-control" id="nombre" placeholder="Tu nombre" name="nombre" required>
                                    <label for="text"></label>
                                    <textarea class="form-control" id="comentarios" rows="4" placeholder="Escribí tu comentario"></textarea>
                                    <button type="submit" class="btn btn-info mb-2 mt-2">Enviar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---------------------------------->

    <!--Empieza Footer-->
    <footer>
        <div class="container">
            <div class="row mb-1">
                <div class="col-md-12 text-center">
                    <div class="footer-widget mb-4">
                        <h2 class="mb-3">¡Seguinos!</h2>
                        <ul class="footer-social-media">
                            <li><a href="https://twitter.com/StefiLeon"><span><i class="fab fa-twitter"></i></span></i></span></a></li>
                            <li><a href="https://facebook.com/lasfotosdelasjugadoras"><span><i class="fab fa-facebook-f"></i></span></a></li>
                            <li><a href="https://instagram.com/lasfotosdelasjugadoras"><span><i class="fab fa-instagram"></i></span></a></li>
                        </ul>
                        <p>¡Nos vemos en Australia/Nueva Zelanda 2023!</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Termina Footer-->
    
    <!--Scripts BS-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <!--Script JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="../js.js"></script>
    <!-------------->
    
    </body>
    </html>