<!DOCTYPE html>
<html lang="en">
<head>
    <!--Etiquetas meta-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Información de los Planteles Participantes en el Torneo Apertura del Fútbol Femenino Argentino">
    <meta name="keywords" content="FUTBOL, DEPORTE, FEMENINO, MUJER, ARGENTINA, AFA">
    <title>Planteles del fútbol femenino argentino</title>
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5f1119f675.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/css.css">
</head>

<body>
    <!--Empieza nav-->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #31B5F7">
        <!--Logo-->
        <a class="navbar-brand" href="../index.html">
            <img src="https://cdn3.ct-assets.com/assets/landings/womens-world-cup-2019/logo-f11500c9bd7395ac801e2255091433ae4942be72222ba9fba525c8dfbec2f3ba.png" width="50" height="auto" alt="logo femenino">
        </a>
        <!--Toggler-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--Botones-->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="../index.html" class="nav-link">Inicio</a></li>
                <li class="nav-item"><a href="./fotos.html" class="nav-link">Fotos</a></li>
                <li class="nav-item"><a href="./archivo.html" class="nav-link">Archivo</a></li>
                <li class="nav-item"><a href="./historia.html" class="nav-link">Historia</a></li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Torneo Apertura
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="./plantelesApertura.html">Planteles</a>
                        <a class="dropdown-item" href="./goleadorasApertura.html">Goleadoras</a>
                        <a class="dropdown-item" href="./resultadosApertura.html">Resultados</a>
                    </div>
                </li>
                <li class="nav-item"><a href="../views/contacto.html" class="nav-link">¿Quiénes somos?</a></li>
            </ul>
        </div>
    </nav>
    <!--------------->

    <!--Empieza Hero element-->
    <div class="hero-image" id="hero--planteles">
        <div class="hero-text">
            <h1>Planteles</h1>
            <p>Jugadoras de Primera A</p>
        </div>
    </div>
    <!------------------------>

    <!--Empieza sección planteles-->
    <section>
        <div class="container pt-4">
            <div class="row d-flex">
                <div class="col-md-6 col-lg-3">
                    <div class="planteles--formato justify-content-end">
                        <a href="#" style="background-image: url('https://scontent.faep24-1.fna.fbcdn.net/v/t1.6435-9/139643039_2451336525174665_3216522679686928585_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=0debeb&_nc_ohc=bLyuNCGqdrcAX8LlSbL&_nc_ht=scontent.faep24-1.fna&oh=b601fd3b63a3b6de3c271987b823d24f&oe=60A23A5E');">
                        </a>
                        <div class="text d-block">
                            <h3 class="titulo--oscuro text-center">Boca Juniors</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="planteles--formato justify-content-end">
                        <a href="#" style="background-image: url('https://pbs.twimg.com/media/Ey5r7FNW8AEUhz7?format=jpg&name=large');">
                        </a>
                        <div class="text d-block">
                            <h3 class="titulo--oscuro text-center">Comunicaciones</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="planteles--formato justify-content-end">
                        <a href="#" style="background-image: url('https://scontent.faep24-1.fna.fbcdn.net/v/t1.6435-9/131017153_2425201324454852_1616877220406341324_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=0debeb&_nc_ohc=iF1giTyPAkkAX-OX5HI&_nc_oc=AQn6tD9XLIv8h8o9d17QwSsdPlCjLmnVAkyAyLj7srg00ciqDsBqr_pvC8P6MtAnPH0&_nc_ht=scontent.faep24-1.fna&oh=f1691c047ffadadd05010904d0798f1e&oe=60A2DE97');">
                        </a>
                        <div class="text d-block">
                            <h3 class="titulo--oscuro text-center">Defensores de Belgrano</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="planteles--formato justify-content-end">
                        <a href="#" style="background-image: url('https://scontent.faep24-1.fna.fbcdn.net/v/t1.6435-9/84124091_100728651494267_5573989560108449792_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=e3f864&_nc_ohc=z37hTEbTZQMAX8x7lTH&_nc_ht=scontent.faep24-1.fna&oh=16fae7d088d74c6c0f51162460f866ef&oe=60A20BC9');">
                        </a>
                        <div class="text d-block">
                            <h3 class="titulo--oscuro text-center">Deportivo Español</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="planteles--formato justify-content-end">
                        <a href="#" style="background-image: url('https://scontent.faep24-1.fna.fbcdn.net/v/t1.6435-9/74862387_2102582506716737_3568764282743029760_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=JOQs2xyvRrEAX9R6_PD&_nc_ht=scontent.faep24-1.fna&oh=7a9fa51f82d500ef30b429c98222f369&oe=60A1F7A1');">
                        </a>
                        <div class="text d-block">
                            <h3 class="titulo--oscuro text-center">El Porvenir</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="planteles--formato justify-content-end">
                        <a href="#" style="background-image: url('https://pbs.twimg.com/media/EyYt1ifXIAQ-4Hf?format=jpg&name=small');">
                        </a>
                        <div class="text d-block">
                            <h3 class="titulo--oscuro text-center">Estudiantes</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="planteles--formato justify-content-end">
                        <a href="#" style="background-image: url('https://scontent.faep24-1.fna.fbcdn.net/v/t1.6435-9/168475314_1534013930130644_5870289815736356555_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=DJnr5805OREAX_mKaGV&_nc_ht=scontent.faep24-1.fna&oh=472372727c5152d097fb4cd2ab73714f&oe=609FD675');">
                        </a>
                        <div class="text d-block">
                            <h3 class="titulo--oscuro text-center">Excursionistas</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="planteles--formato justify-content-end">
                        <a href="#" style="background-image: url('https://scontent.faep24-1.fna.fbcdn.net/v/t1.6435-9/78740190_2140599186248402_5561030265091915776_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=_6CJ9jRcNs0AX_JRCGr&_nc_ht=scontent.faep24-1.fna&oh=582ea6a1ebbfef926d794da9da9b1662&oe=60A1B691');">
                        </a>
                        <div class="text d-block">
                            <h3 class="titulo--oscuro text-center">Gimnasia</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="planteles--formato justify-content-end">
                        <a href="#" style="background-image: url('https://pbs.twimg.com/media/Eo0kDzhWMAk4WCZ?format=jpg&name=4096x4096');">
                        </a>
                        <div class="text d-block">
                            <h3 class="titulo--oscuro text-center">Huracán</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="planteles--formato justify-content-end">
                        <a href="#" style="background-image: url('https://scontent.faep24-1.fna.fbcdn.net/v/t1.6435-9/168460443_1682669278582997_93411340562477470_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=9OkoFDI1BgoAX90HYJ2&_nc_ht=scontent.faep24-1.fna&oh=42f8f5bb1d0b8978e88a25ed364ca651&oe=60A0F97C');">
                        </a>
                        <div class="text d-block">
                            <h3 class="titulo--oscuro text-center">Independiente</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="planteles--formato justify-content-end">
                        <a href="#" style="background-image: url('https://scontent.faep24-1.fna.fbcdn.net/v/t1.6435-9/174575079_4104446309593733_8594788228290602866_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=730e14&_nc_ohc=NWU0xoo2GWsAX-kJvwO&_nc_ht=scontent.faep24-1.fna&oh=fbadd0db7bc39f63c02800ccda40a496&oe=609FFDDE');">
                        </a>
                        <div class="text d-block">
                            <h3 class="titulo--oscuro text-center">Lanús</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="planteles--formato justify-content-end">
                        <a href="#" style="background-image: url('https://scontent.faep24-1.fna.fbcdn.net/v/t1.6435-9/166496022_1604660889731248_1318929961418901115_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=MWC3v3neivIAX88Lj-O&_nc_ht=scontent.faep24-1.fna&oh=9e957ecec0dee7aa8a045807c82e0bc2&oe=60A28409');">
                        </a>
                        <div class="text d-block">
                            <h3 class="titulo--oscuro text-center">Platense</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="planteles--formato justify-content-end">
                        <a href="#" style="background-image: url('https://scontent.faep24-1.fna.fbcdn.net/v/t1.6435-9/128405429_2414865275488457_4896765049213838831_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=0debeb&_nc_ohc=UEUWe_EuInMAX_QvMPM&_nc_ht=scontent.faep24-1.fna&oh=0ffe4738bb1ba3dcee8bf17a3e4bc194&oe=60A0F3B1');">
                        </a>
                        <div class="text d-block">
                            <h3 class="titulo--oscuro text-center">Racing</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="planteles--formato justify-content-end">
                        <a href="#" style="background-image: url('https://scontent.faep24-1.fna.fbcdn.net/v/t1.6435-9/130865754_2423269771314674_5888569090230231620_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=0debeb&_nc_ohc=WHqhjN5p2nMAX8ikyqA&_nc_ht=scontent.faep24-1.fna&oh=fdd0bc9d8fc698833e2111a64e3ec1a5&oe=60A09127');">
                        </a>
                        <div class="text d-block">
                            <h3 class="titulo--oscuro text-center">River Plate</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="planteles--formato justify-content-end">
                        <a href="#" style="background-image: url('https://scontent.faep24-1.fna.fbcdn.net/v/t1.6435-9/165534617_279722716979310_1481963217820432450_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=a26aad&_nc_ohc=LcL2AgpQYeQAX_7lptK&_nc_ht=scontent.faep24-1.fna&oh=549c3db63c4b80243a976c1753ab1621&oe=60A20EDA');">
                        </a>
                        <div class="text d-block">
                            <h3 class="titulo--oscuro text-center">Rosario Central</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="planteles--formato justify-content-end">
                        <a href="#" style="background-image: url('https://scontent.faep24-1.fna.fbcdn.net/v/t1.6435-9/138354723_2444584979183153_8074994292634028283_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=0debeb&_nc_ohc=57vMzMuZaxoAX8xl9aq&_nc_ht=scontent.faep24-1.fna&oh=05033d633c3839beb91d89d822d92a2a&oe=60A0CCA0');">
                        </a>
                        <div class="text d-block">
                            <h3 class="titulo--oscuro text-center">San Lorenzo</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="planteles--formato justify-content-end">
                        <a href="#" style="background-image: url('https://scontent.faep24-1.fna.fbcdn.net/v/t1.6435-9/132843328_982146482310359_5229125734131415088_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=730e14&_nc_ohc=0xjI3suCfNcAX8x51x-&_nc_ht=scontent.faep24-1.fna&oh=01d3d40b5c15c00bb38324b28b6adf6c&oe=60A00E42');">
                        </a>
                        <div class="text d-block">
                            <h3 class="titulo--oscuro text-center">Social Atl. Televisión</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="planteles--formato justify-content-end">
                        <a href="#" style="background-image: url('https://scontent.faep24-1.fna.fbcdn.net/v/t1.6435-9/130723497_2425201537788164_2685684309785418527_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=0debeb&_nc_ohc=7mwdF4dgyFYAX8c7kU4&_nc_ht=scontent.faep24-1.fna&oh=3d5826b14a94525c4f38fb6c373282d9&oe=60A10EEB');">
                        </a>
                        <div class="text d-block">
                            <h3 class="titulo--oscuro text-center">UAI Urquiza</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="planteles--formato justify-content-end">
                        <a href="#" style="background-image: url('https://scontent.faep24-1.fna.fbcdn.net/v/t1.6435-9/127577196_2414863775488607_189898263300431444_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=0debeb&_nc_ohc=Qf1yGmAgwawAX-IvpKM&_nc_oc=AQkeXGXmOF19lp_pY4C8u7Yql8tBmYfbyM_9-zDV9xT81g7KOb9Uw0PVAVkud5RAkmw&_nc_ht=scontent.faep24-1.fna&oh=6d258557a22656b30173db08a9a40f79&oe=60A1387B');">
                        </a>
                        <div class="text d-block">
                            <h3 class="titulo--oscuro text-center">Villa San Carlos</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!----------------------------->

    <!--Empieza Footer-->
    <footer>
        <div class="container">
            <div class="row mb-1">
                <div class="col-md-12 text-center">
                    <div class="footer-widget mb-4">
                        <h2 class="mb-3">¡Seguinos!</h2>
                        <ul class="footer-social-media">
                            <li><a href="https://twitter.com/StefiLeon"><span><i class="fab fa-twitter"></i></span></i></span></a></li>
                            <li><a href="https://facebook.com/lasfotosdelasjugadoras"><span><i class="fab fa-facebook-f"></i></span></a></li>
                            <li><a href="https://instagram.com/lasfotosdelasjugadoras"><span><i class="fab fa-instagram"></i></span></a></li>
                        </ul>
                        <p>¡Nos vemos en Australia/Nueva Zelanda 2023!</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Termina Footer-->

    <!--Scripts BS-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!-------------->
    
    </body>
    </html>